<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<h1><center>Gratitude Journal</center></h1>
<div class="gratitude-block">
<h2>Editing Gratitude</h2>

<%= render 'form' %>

<%= link_to 'Show', @gratitude %> |
<%= link_to 'Back', gratitudes_path %>
</div>
