// Place all the styles related to the gratitudes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gratitudes {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.gratitudes p {
	margin: 4px 0;
}

.gratitudes.hover {
	background: #FAFAFA;
}

.gratitudes .admin {
	display: none;
}

.gratitudes.hover .admin {
	display: inline;
}